.app-about {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20vh;
  box-sizing: border-box;
}

h1 {
  margin-top: 20px;
  font-family: 'Inconsolata', monospace;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 4px 30px var(--background-dark);
  border: solid 4px var(--background-dark);
}

p {
  opacity: var(--text-secondary);
  max-width: 500px;
  line-height: 1.25;
  font-size: 1.125em;
  text-align: center;
  text-shadow: 0px 2px 4px var(--background-dark);
}

.hi {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hi > p {
  white-space: nowrap;
  flex-shrink: 0;
}

.hi span {
  margin: 0px 5px;
}

a {
  display: inline-flex;
  align-items: center;
  border: solid 2px var(--primary);
  border-radius: 999px;
  padding: 10px 15px;
  background: var(--background);
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 2px 15px hsla(var(--hue), var(--saturation), 18%, .5);
  position: fixed;
  top: 30px;
  right: 30px;
  font-family: 'Iconsolata', monospace;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  font-size: 16px;
  z-index: 2;
  transition: all .2s ease;
}

a:before {
  display: block;
  position: absolute;
  top: 0;
  content: '';
  width: 120%;
  height: 100%;
  background: var(--primary);
  z-index: -1;
  transform: skewX(30deg) translateX(-130%);
  transition: all .2s ease;
}

a:hover:before {
  transform: skewX(30deg) translateX(-15%);
}

a > app-icon {
  font-size: 20px;
  padding-right: 10px;
}

a > span {
  white-space: nowrap;
  flex-shrink: 0;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  a {
    top: auto;
    padding: 10px 12px 10px 11px;
    bottom: 15px;
    right: 15px;
  }

  a > span {
    opacity: 0;
    transition: all .3s ease;
    max-width: 0;
  }

  a:hover > span {
    max-width: 100px;
    opacity: 1;
  }

  a > app-icon {
    padding-right: 0;
  }

  a:hover > app-icon {
    padding-right: 10px;
  }
}
