a {
  border: solid 2px var(--background-light);
  border-radius: 999px;
  padding: 10px 15px;
  margin: 10px;
  background: var(--background);
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 2px 15px var(--shadow);
  font-family: 'Inconsolata', monospace;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  font-size: 16px;
  transition: all .2s ease;
}

a:hover {
  border-color: var(--primary);
}

app-icon {
  padding-right: 10px;
  font-size: 24px;
}
