:root {
  --hue: 225;
  --saturation: 18%;

  --background: hsl(var(--hue), var(--saturation), 26%);
  --background-light: hsl(var(--hue), var(--saturation), 33%);
  --background-dark: hsl(var(--hue), var(--saturation), 18%);

  --foreground: hsl(var(--hue), var(--saturation), 88%);
  --foreground-light: hsl(var(--hue), var(--saturation), 95%);
  --foreground-dark: hsl(var(--hue), var(--saturation), 80%);

  --text-lightness: 95%;
  --text: hsla(0, 0%, var(--text-lightness), 100%);
  --text-secondary: hsla(0, 0%, var(--text-lightness), 80%);
  --text-tertiary: hsla(0, 0%, var(--text-lightness), 60%);

  --primary: hsl(210, 96%, 46%);

  --highlight: hsl(144, 100%, 47%);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
