/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('/assets/fonts/inconsolata-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/inconsolata-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inconsolata-700 - latin */
@font-face {
  font-family: 'Inconsolata';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
       url('/assets/fonts/inconsolata-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/inconsolata-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('/assets/fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/source-sans-pro-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --hue: 230;
  --saturation: 30%;

  --background: hsl(var(--hue), var(--saturation), 26%);
  --background-light: hsl(var(--hue), var(--saturation), 33%);
  --background-dark: hsl(var(--hue), var(--saturation), 18%);

  --foreground: hsl(var(--hue), var(--saturation), 92%);
  --foreground-light: hsl(var(--hue), var(--saturation), 98%);
  --foreground-dark: hsl(var(--hue), var(--saturation), 80%);

  --shadow: hsla(var(--hue), var(--saturation), 10%, 0.3);

  --text-secondary: .8;
  --text-tertiary: .6;

  --text-link: hsl(210, 96%, 70%);

  --primary: hsl(210, 96%, 46%);

  --highlight: hsl(144, 100%, 47%);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro',-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--background-light);
}

::-webkit-scrollbar-thumb {
  background: var(--background-dark);
}
