.app-browser-preview {
  display: flex;
  flex-direction: column;
  border: solid 2px var(--background-dark);
  border-radius: 8px;
  overflow: hidden;
  height: 400px;
  width: 600px;
  margin: 30px;
  box-shadow: 0px 4px 30px var(--shadow);
  background: var(--background);
  flex-shrink: 1;
}

.left.app-browser-preview {
  margin-left: -250px;
}

.right.app-browser-preview {
  margin-right: -250px;
}

.titlebar {
  padding: 8px;
  background: var(--background);
  display: flex;
  box-shadow: 0px 1px 5px var(--shadow);
  z-index: 1;
  border-bottom: solid 2px var(--background-dark);
}

.button {
  height: 10px;
  width: 10px;
  border-radius: 7px;
  margin-right: 5px;
  border: solid 2px var(--background-dark);
}

.red {
  background: hsl(0, 100%, 62%);
}

.yellow {
  background: hsl(45, 100%, 62%);
}

.green {
  background: hsl(130, 100%, 62%);
}

app-img {
  width: 600px;
  height: 370px;
  background: #ffffff;
}

img {
  width: 600px;
  height: 370px;
}

.loading {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .left.app-browser-preview {
    margin-left: 30px;
    margin-right: -250px;
  }
}
