.app-home {
  background: var(--foreground-light);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

app-section:nth-child(odd) {
  background: var(--background);
  color: #ffffff;
}

app-section:first-child {
  background-image: url('/assets/img/tile.svg');
  background-size: 200px;
}

a {
  color: var(--text-link);
}
