.skills-section {
  border: solid 1px var(--foreground-dark);
  border-radius: 8px;
  display: flex;
  margin: -50px 0 50px 0px;
  background: var(--foreground-light);
  box-shadow: 0px 4px 30px hsla(var(--hue), var(--saturation), 18%, .3);;
}

.skills-section skill-panel {
  border-right: solid 1px var(--foreground-dark);
  flex-grow: 1;
}

.skills-section skill-panel:last-child {
  border-right: none;
}
