.app-skills {
  border: solid 2px var(--foreground-dark);
  border-radius: 8px;
  display: flex;
  margin: -50px 0 50px 0px;
  background: var(--foreground-light);
  box-shadow: 0px 4px 30px var(--shadow);
}

.app-skills app-skills-panel {
  border-right: solid 2px var(--foreground-dark);
  flex: 1;
  width: 100%;
}

.app-skills app-skills-panel:last-child {
  border-right: none;
}

@media only screen and (max-width: 768px) {
  .app-skills {
    flex-direction: column;
  }

  .app-skills app-skills-panel {
    border-right: none;
    border-bottom: solid 2px var(--foreground-dark);
  }

  .app-skills app-skills-panel:last-child {
    border-bottom: none;
  }
}
